.productCard {
  display: grid;
}

/* LandingPage.css */

.event-list-header {
  text-align: center !important;
}

.productsContainer {
  justify-content: center;
  width: 100%;
  display: grid;
  margin-left: 5%;
  margin-right: 5%;

  grid-template-columns: repeat(4, 1fr); //* 3 columns for tablets */
}

@media (min-width: 768px) {
  .productsContainer {
    grid-template-columns: repeat(4, 1fr); /* 3 columns for tablets */
  }
}

@media (min-width: 1024px) {
  .productsContainer {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for desktops */
  }
}

.productCard {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%; /* Adjust based on your design needs */
  max-width: 250px; /* Ensures responsiveness */
  margin-bottom: 150px;
  margin-top: 100px;
}

.productCard h2 {
  margin: 0;
  padding: 15px;
  font-size: 14px;
  color: #333;
}

.productCard p {
  padding: 10px;
  color: #666;
}

.productCard img {
  max-height: 300px;
}

.filledHeart img {
  width: 23px;
  height: 24px;
  left: auto;
}

.heartIcon {
  width: 50px;
}
